# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
*.pyc

# Django
backend/.env
backend/db.sqlite3
backend/staticfiles/

# Node
frontend/skillmap/node_modules/
frontend/node_modules/
frontend/build/
frontend/.env

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

backend/resume.pdf
backend/test_api.py
backend/job_description.pdf
